= form_for @user, html: { multipart: true } do |f|
  - if @user.errors.any?
    #errors
      %p
        = pluralize(@user.errors.count, "error")
        prevented this form from saving
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .col-md-6

    .form-group
      = f.label :First_Name
      .controls
        = f.text_field :first_name, class: 'form-control'

    .form-group
      = f.label :Last_Name
      .controls
        = f.text_field :last_name, class: 'form-control'

  .col-md-6

    .form-group
      = f.label :Email
      .controls
        = f.email_field :email, class: 'form-control'

    .form-group
      .controls
        = f.check_box :admin
        = f.label :User_Admin? 

    .form-group
      .controls
        = f.button :submit, class: "btn btn-primary"